<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="user in admin.users">
	    <div class="user-info">
	        <strong>{{user.name}}</strong><br>
	        <span class="text-muted">{{user.email}}</span>
	    </div>
        <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
    </li>
  </ul>
</div>

<div class="container">
  <span ng-click="admin.theNew = new" ng-repeat="new in admin.newsArray" class="label label-primary">{{new.title}}</span>
</div>

<div class="container">
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" ng-model="admin.theNew.title">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" ng-model="admin.theNew.description">
    </div>

    <div class="form-group">
      <label for="link">Link</label>
      <input type="text" class="form-control" ng-model="admin.theNew.link">
    </div>

    <div class="form-group">
      <label for="tags">Tag 1</label>
      <input type="text" class="form-control" ng-model="tag">
      <span class="input-group-btn">
        <button class="btn btn-success btn-add" type="button" ng-click="admin.addTag(tag)">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
      </span>
      <span ng-repeat="tag in admin.theNew.tags" class="label label-default">{{tag}}</span>
    </div>

    <datepicker>
      <input ng-model="admin.theNew.date" type="text"/>
    </datepicker>

    <div class="form-group">
      <label for="avatar">Avatar</label>
      <input type="text" class="form-control" ng-model="admin.theNew.avatar">
    </div>

    <div class="form-group">
      <label for="thumbnail">Thumbnail</label>
      <input type="text" class="form-control" ng-model="admin.theNew.thumbnail">
    </div>

    <button class="btn btn-primary" ng-click="admin.createNew()">Submit</button>
    <button class="btn btn-success" ng-click="admin.updateNew(admin.theNew._id)">Update</button>
  </form>
</div>
